html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer .text-muted {
  margin: 20px 0;
}
#exp-con{
  text-align: -webkit-center; 
  text-align: -moz-center; 
  padding: 0;
}
#exp-con .row{
  margin: 0;
}
#exp-con .mask{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../imgs/line/mask.jpg") repeat;
  display: none;
}
#exp-con .frame-container{
  text-align: -webkit-center; 
  text-align: -moz-center; 
}
#tips-con{
  min-height: 25px;
}
#frame-con{
  text-align: -webkit-center; 
  text-align: -moz-center; 
	height: 300px;
  width: 300px;
  margin: 15px 0;
  border: 2px solid #000;
  position: relative;  
  overflow: hidden;
}
#frame-con hr{
  display:block; margin:0; border:0; background: #000; width: 2px;
}
#top-con{
	min-height: 25px;
}
#buttom-con{
  min-height: 25px;
}

