html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer .text-muted {
  margin: 20px 0;
}
#tips-con{
  min-height: 25px;
}
#frame-con{
	min-height: 360px;
  min-height: 360px;
  margin: 15px 0;
  border: 2px solid #000;
  position: relative;  
  overflow: hidden;  
}
#button-con{
	text-align: center;
}

