{% extends "base.html" %}

{%- block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/circle.css') }}" rel="stylesheet" type="text/css">
{% endblock -%}

{% block exp_con_attribs %} class="content col-xs-12 col-sm-12 col-md-12" {% endblock exp_con_attribs %}

{% block exp_con %}
  <div id="drawing-con"></div>
  <div id="button-con" class="center-block">
    <button class="btn btn-default" type="button" id="next-button">next</button>
  </div>
{% endblock exp_con %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/circle.js') }}"></script>
<script type="text/javascript">
  CHARAS = ['aunt', 'uncle', 'sister or brother'];

  stumiView.initRender = function() {
	this.dispTips('Click next button to start the practice');
	this.nButton.show();
  };

  stumiView.saveData = function(){
    this.dispTips('Practice is over. If you are ready, please click "next" button.');
    this.nButton.show().click(function(){
      window.location.href="{{url_for('exp_index_page', test_name=test_name, mode=mode)}}" ;
    });
  };
$(document).ready(function(){
  if ('{{mode}}' == 'r'){
    octopus.init(mode.ret);
  }else if ('{{mode}}' == 'i'){
    octopus.init(mode.intu);
  }
});
</script>
{% endblock %}