{% extends "base.html" %}
{% import "form_macro.html" as form_macro %}
{% import "bootstrap/wtf.html" as wtf %}

{%- block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/fishball.css') }}" rel="stylesheet" type="text/css">
{% endblock -%}

{% block exp_con %}
<div class="frame-container">
  <div id="fishball">
    <div class="track"><div id="green"></div></div>
    <div class="track"><div id="yellow"></div></div>
    <div class="track"><div id="white"></div><div id="blue"></div></div>
    <div class="track"><div id="red"></div></div>
  </div>
</div>
<div id="bottom-con" class="row">
  <button class="btn btn-default btn-lg" id="left-button" type="button">True</button>
  <button class="btn btn-default btn-lg" id="right-button" type="button">False</button>
</div>
<div id="next-con" class="row">
  <button class="btn btn-default btn-lg" type="button" id="next-button">next</button>
</div>

<form id="exp_form" action="" method="post" class="form form-horizontal" role="form">
  {{ form.hidden_tag() }}

  {%- if form.errors %}
    {%- for fieldname, errors in form.errors.items() %}
      {%- if bootstrap_is_hidden_field(form[fieldname]) %}
        {%- for error in errors %}
          <p class="error">{{error}}</p>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
  <div class="hidden">{{form.result()}}</div>
</form>
{% endblock %}

{% block mask %}<div id="mask" class="mask"></div>{% endblock mask %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/fishball.js') }}"></script>
<script src="{{ url_for('static', filename='js/fishballmeta.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(document).contextmenu(function(){
    return false;
  }); 
  octopus.init({{mode}});
});
</script>
{% endblock %}