{% extends "base.html" %}
{% import "form_macro.html" as form_macro %}
{% import "bootstrap/wtf.html" as wtf %}

{%- block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/line.css') }}" rel="stylesheet" type="text/css">
{% endblock -%}

{% block tips %}
{% if mode == 'i' %}
<p>In the next task, you will be asked to finish 6 trials. In each of them, the first graphic will be displayed for 10s. After that, a blurred screen will be displayed. Then 4 numbers will appear at the four corners of the screen, please click the number as instructed. Finally the screen will display a square, your task is: use your mouse to drag a vertical line <strong>within 3 seconds</strong> inside this square <strong>(Otherwise you’ll fail the task)</strong>. <strong>The absolute length of the line</strong> you draw should be equal to that in the first graphic.</p>
{% else %}
<p>In the next task, you will be asked to finish 6 trials. In each of them, the first graphic will be displayed for 10s. After that, a blurred screen will be displayed. Then 4 numbers will appear at the four corners of the screen, please click the number as instructed. The screen will then display a square. Please <strong>think at least 7 seconds</strong>. After finish thinking, use your mouse to drag a vertical line <strong>within 3 seconds</strong> inside this square <strong>(Otherwise you’ll fail the task)</strong>. <strong>The absolute length of the line</strong> you draw should be equal to that in the first graphic.</p>
{% endif %}
<p>For example:<br><img src="{{ url_for('static', filename='imgs/line/abs.png') }}"></p>
<p>After reading and fully understanding the instruction above, please click <strong>“next” button</strong> to proceed to 3 practices.</p>
{% endblock tips %}


{% block exp_con %}
  <div id="top-con" class="row">
    <button class="btn btn-default sbt col-md-1" type="button">1</button>
    <button class="btn btn-default sbt col-md-1 col-md-offset-10" type="button">2</button>
  </div>
  <div class="frame-container">
    <div id="frame-con"></div>
  </div>
  <div id="bottom-con" class="row">
    <button class="btn btn-default sbt col-md-1" type="button">3</button>
    <button class="btn btn-default sbt col-md-1 col-md-offset-10" type="button">4</button>
  </div>
  <div id="next-con" class="row">
    <button class="btn btn-default btn-lg" type="button" id="next-button">next</button>
  </div>
{% endblock %}

{% block mask %}<div id="mask" class="mask"></div>{% endblock mask %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/line.js') }}"></script>
<script type="text/javascript">
//正方形外框的边长
const FRAMESIZE = {{sqr_size}};
var data = [
        {stumi: {hw:3.0, height:2.5185}, respo: {hw:6.0, height:-1}},
        {stumi: {hw:4.0, height:0.8148}, respo: {hw:6.0, height:-1}},
        {stumi: {hw:6.0, height:1.1111}, respo: {hw:3.0, height:-1}}
      ];
$(document).ready(function(){
  stumiView.initRender = function() {
    this.is_practice = true;
    this.clearFrameCon();
    this.clsFrame.hide();
    this.nButton.show();
  };

  stumiView.saveData = function(){
    this.dispTips('Practice is over. If you are ready, please click "next" button.');
    this.nButton.show().click(function(){
      window.location.href="{{url_for('exp_index_page', test_name=test_name, mode=mode)}}" ;
    });
  };

  if ('{{mode}}' == 'r'){
    octopus.init(mode.ret, 'abs');
  }else if ('{{mode}}' == 'i'){
    octopus.init(mode.intu, 'abs');
  }
});
</script>
{% endblock %}
