{% extends "base.html" %}
{% import "form_macro.html" as form_macro %}
{% import "bootstrap/wtf.html" as wtf %}

{%- block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/wordcate.css') }}" rel="stylesheet" type="text/css">
{% endblock -%}

{% block pagetitle %}Word category{% endblock pagetitle %}

{% block tips %}
{% if mode == 'i' %}
<p>Next you’ll see 3 words in each trial. Please use your intuition to decide whether the word on the left or the right is more suitable to be classified together with the word below. If you think <strong>the left one</strong> is more appropriate, please <strong>click the “left” button</strong> below. If you think <strong>the right one</strong> is more appropriate, please <strong>click the “right” button</strong> below. <strong>You only have 3 second for each trial</strong>. If you understand the instruction please click “Next” button to start practicing.</p>
{% else %}
<p>Next you’ll see 3 words in each trial. Please <strong>think at least 7 seconds at first</strong>, then you need to decide whether the word on the left or the right is more suitable to be classified together with the word below <strong>within 3 seconds</strong>. If you think <strong>the left one</strong> is more appropriate, please <strong>click the “left” button below</strong>. If you think <strong>the right one</strong> is more appropriate, please <strong>click the “right” button below</strong>. <strong>You only have 3 second for each trial</strong>. If you understand the instruction please <strong>click “Next” button</strong> to start practicing.</p>
{% endif %}
{% endblock tips %}

{% block exp_con_attribs %} class="content col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3" {% endblock %}

{% block exp_con %}
  <div id="stimuli-con"><img class="img-responsive" id="stimuli-pic"></div>
  <div id="button-con" class="center-block">
    <button class="btn btn-default" type="button" id="left-button">Left</button>
    <button class="btn btn-default" type="button" id="right-button">Right</button>
    <button class="btn btn-default" type="button" id="next-button">next</button>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/wordcate.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
  module.picCount = 10;
  stumiView.initRender = function() {
    this.clearScreen();
    this.nButton.show();
  };

  stumiView.saveData = function(){
    this.dispTips('Practice is over. If you are ready, please click "next" button.');
    this.nButton.show().click(function(){
      window.location.href="{{url_for('exp_index_page', test_name=test_name, mode=mode)}}" ;
    });
  };
  
  if ('{{mode}}' == 'r'){
    octopus.init(mode.ret);
  }else if ('{{mode}}' == 'i'){
    octopus.init(mode.intu);
  }
  
});
</script>
{% endblock %}